body { 
	background-color: black;
	font-family: "Luckiest Guy", cursive;
	color: white;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: white;
	font-size: 2em;
}

div.header {
	margin-top: 2em;
	margin-bottom: 3em;
	text-align: center;
}

h1 {
	font-size: 50px;
}

div#main-region {
	text-align: center;
	width: 55%;
}

#message {
	height: 130px;
	margin-bottom: 10%;
}

#generate {
	height: 50px;
	width: 50px;
}

img.logo {
	margin-top: 5%;
	height: 150px;
	cursor: pointer;
}
.form-control {
	width: 58%;
	margin: auto;
	height: 2.5em;
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	margin-bottom: 1em;
}

.save-item {
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
}

div.create-name {
	text-align: center;
	margin: auto;
	margin-top: 15%;
}
