<div id="wrap">
	<div id="header-region"></div>
	<div id="main-region" class="container">
		<div id="message">
			<h1> Click to Generate a menu item </h1>
		</div>
		<div id="select">
			<select id="delicious">
				<option selected="true" style="display:none;">
					Select Deliciousness Level
				</option>
				<option value=0>Undelicious</option>
				<option value=1>Somewhat Delicious</option>
				<option value=2>Very Delicious</option>
				<option value=3>Unbelievably Delicious</option>
				<option value=4>Life Ruiningly Delicious</option>
			</select>
		</div>
		<div id="generate"></div>
	</div>
	<div id="push"></div>
</div>
<div id="footer-region"></div>


<script id='menu-item-template' type="text/x-handlebars-template">
	<div id='menu_item'>
		<h1>{{adjectives}} {{item}} {{modifier}}</h1>
	</div>
</script>

<script>

var itemModel = new Item({});
var itemView = new ItemView({
	model: itemModel
});

	$(function(){
		buttonPress()
	});

</script>
