<div id="wrap">
	<div id="header-region"></div>
	<div id="main-region" class="container">
		<div id="message">
			<h1> Click to Generate a menu item </h1>
		</div>
		<div id="generate"></div>
	</div>
	<div id="push"></div>
</div>
<div id="footer-region"></div>


<script id='todo-item-template' type="text/x-handlebars-template">
	<div id='todo_item'>
		<h1>{{adjectives}}</h1>
		<h1>{{item}}</h1>
		<h1>{{modifier}}</h1>
	</div>
</script>

<script>

var todoModel = new Todo({});
var todoView = new TodoView({
	model: todoModel
});
var number = $("select.delicious").val()
|| Math.floor(Math.random() * (5 - 1)) + 1;
	
	$(function(){
		buttonPress()
	});

</script>
