<div id="wrap">
	<div id="header-region"></div>
	<div id="main-region" class="container">
		<div id="message">
			<h2> Click Taco Generate a menu item </h2>
		</div>
		<div id="select">
			<select class="form-control">
				<option selected="true" style="display:none;">
					Select Deliciousness Level
				</option>
				<option value=0>Undelicious</option>
				<option value=1>Somewhat Delicious</option>
				<option value=2>Very Delicious</option>
				<option value=3>Unbelievably Delicious</option>
				<option value=4>Life Ruiningly Delicious</option>
			</select>
		</div>
	</div>
	<div id="push"></div>
</div>
<div id="footer-region"></div>


<script id='menu-item-template' type="text/x-handlebars-template">
	<div id='menu_item'>
		<h2>{{adjectives}} {{item}} {{modifier}}</h2>
	</div>
</script>

<script id="header-template" type="text/x-handlebars-template">
	<div class="header">
		<div class="tacoshack">
			<h1>{{title}}</h1>
		</div>
		<div class="logo">
			<img src="assets/{{logo}}", class="logo">
		</div>
	</div>
</script>

<script>

var header = new Header();
var headerView = new HeaderView({
	model: header
})

var itemModel = new Item({});
var itemView = new ItemView({
	model: itemModel
});

	$(function(){
		renderHeader()
		buttonPress()
	});

</script>
